<footer>
	<a href="search.html"><i class="material-icons search"></i></a>
	<a href="notifications.html"><i class="material-icons notifications"></i></a>
	<a class="always_selected" id="search_by_photo" href="search_by_photo.html"><i class="material-icons photo_camera invert"></i></a>
	<a href="map.html"><i class="material-icons explore"></i></a>
	<a href="cart.html"><i class="material-icons shopping_cart"></i></a>
</footer>
<div id="spinner" class="spinner" style="display:none;">
	<img src="images/d_loading.gif" class="loader_image"/>
</div>