<header class="daheader">
	<a href="index.html"><img width="134" height="32" src="images/logo.svg" /></a>
	{{#if me}}
		<img id="account1" src="{{me.profile_pic}}" class="profile_pic round">
	{{else}}
		<i id="account1" class="material-icons">account_circle</i>
	{{/if}}
</header>