{{> header}}
<div id="content" class="search">

	<div id="no-cat" class="pages advanced">

		<section class="no_results">
			<p class="keyword">We've successfully posted your request!</p>
			<p class="message">You will get notifications about the status of your request.</p>
		</section>

	</div>
    
</div>
{{> footer}}
{{> dom_assets}}
{{> sidemenu}}