<footer>
	<a href="search.html"><i class="material-icons">search</i></a>
	<a href="notifications.html"><i class="material-icons">notifications</i></a>
	<a href="map.html"><i class="material-icons">explore</i></a>
	<a href="cart.html"><i class="material-icons">shopping_cart</i></a>
</footer>