<div class="wrapper" style="display:none">
	<div id="user">
		<div class="logout" >
			<p>Sign in</p>
			<form id="login_form" class="login_form">
				<input name="email" type="text" placeholder="E-mail" value=""><br>
				<input name="password" type="password" placeholder="Password"><br>
				<input type="submit" class="icon_hack" value=""><i class="material-icons post_submit">send</i>
			</form>
			<p><a class="underline1" href="#">Forgot password</a></p>
			<p>New to Dedalo?<a class="underline" href="settings.html">Create an account</a></p>
			<p>or</p>
			<a class="media" href="#">Sign in with Facebook</a><br>
			<a class="media" href="#">Sign in with Twitter</a><br>
			<a class="media" href="#">Sign in with Google+</a>
		</div>
		<div class="login" style="display:none">
			<div><i id="account" class="material-icons">account_circle</i><p>Lorem Ipsum Dolor Sit Amet</p></div>
			<a href="settings.html">Account</a>
			<a href="followers.html">Dashboard</a>
			<a href="#">Products</a>
			<a href="#">Sales</a>
			<a href="followers.html">Following</a>
		</div>
		<div class="footer">
		<p><a href="http://3dedalo.org/"><span>About</span> <img width="134" height="32" src="images/logo.svg" /></a></p>
		<p><a href="http://3dedalo.org/">Terms and conditions</a> | <a href="http://3dedalo.org/">Privacy policies</a></p>
		</div>
	</div>
	<div class="separate"></div>
</div>